@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

:root {
    /* Primary */
    --main-background: hsl(233, 47%, 7%);   
    --card-background:hsl(244, 38%, 16%);
    --accent: hsl(277, 64%, 61%);

    /* Neutral */
    --main-heading:hsl(0, 0%, 100%);
    --main-paragraph: hsla(0, 0%, 100%, 0.75);
    --stat-headings: hsla(0, 0%, 100%, 0.6);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--main-background);
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    max-width: 23.438rem;
    margin: 2rem 0;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 10px;
    overflow:hidden;
}

.card-container {
    text-align:center;
    padding: 2rem;
    background: var(--card-background);
    order: 2;
    display: flex;
    flex-flow: column nowrap;
}
.main-heading {
    padding-bottom: 1rem;
}

.main-heading, .stat-headings {
    color: var(--main-heading);
    
}

.accent {
    color: var(--accent);
}

.main-para {
    color: var(--main-paragraph);
    font-size: 1.1rem;
    line-height: 1.5;
    padding-bottom: 3rem;
}

.stat{
    padding-bottom: 2rem;
}

.stat-cap{
    color: var(--main-heading);
}

.img {
    background: url('/images/image-header-mobile.jpg')no-repeat center center/cover;
    box-shadow: inset 100vmax 0 0 0 rgba(48, 10, 71, 0.6);
    width: auto;
    height: 40vh;
    order: 1;
}

@media (min-width: 1000px) {
    .wrapper {
        max-width: 90rem;
        flex-flow: row nowrap;
        justify-content: center;
        
    }

    .card-container{
        order: 1;
        text-align: start;
        flex: 0 1 100%;
        
    }
    
    .main-para {
        font-size: .85rem;
    }

    .stat-container {
        display: flex;
        justify-content: space-between;
    }
   

    .img {
        background: url('/images/image-header-desktop.jpg')no-repeat center center/cover;
        height: auto;
        order: 2;
        flex: 0 1 100%;
    }
}